<div class="devices-row">
    <div class="col-lg-12 device">
        <div class="device-head">
            <h5>
                <span>Nitrogen Labs</span>
            </h5>
        </div>
        <div class="device box">
            <button class="btn btn-inverse btn-lg" {{action "createNewDevice" this}} type="button">createNewDevice</button>
        </div>
    </div>
</div>
